h6{
  margin-bottom: 20px!important;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field:first-of-type{
  margin-top:0px!important;
}

.form-field {
  width: 100%;
  margin-bottom: 0!important;
  margin-top: 16px!important;
}

.select-field .MuiInputBase-root {
  width: 100%;
}

.date-picker .MuiFormControl-root {
  width: 100%;
}

.json-editor {
  width: 100%;
  height: 400px;
  margin-bottom: 16px;
  font-family: monospace;
}

.submit-button {
  width: 100%;
  margin-top: 20px!important;
  margin-bottom: 40px!important;
}